@font-face {
  font-family: 'Exo2_ExtraBoldItalic';
  src: url("../fonts/Exo2.0-ExtraBoldItalic.otf");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: 'Exo2_Light';
  src: url("../fonts/Exo2.0-Light.otf");
  font-style: normal;
  font-weight: bold; }
#logo {
  font-family: 'Exo2_ExtraBoldItalic';
  font-size: 5.5em;
  text-align: right;
  color: #e6e6e6;
  margin-right: 50px; }

h2 {
  font-family: 'Exo2_Light';
  font-size: 3.5em;
  color: #e6e6e6;
  margin-left: 50px; }

#content2 {
  height: 965px;
  background-image: url(../images/20060916-dsc_0220.jpg); }

#content {
  height: 965px;
  background-image: url(../images/20120719-DSC_6360.jpg); }

#content3 {
  height: 965px;
  background-image: url(../images/20050828-DSC_0113.jpg); }
